/* Item arrangement:
-> General Properties
-> Header Properties
-> Footer Properties
*/


* {
    color: #AAAAAA;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

body {
    background-color: #222222;
    margin: 0;
    padding: 0;
}








/* HEADER */

.home-page {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-image: linear-gradient(rgba(25, 26, 34, 0.7), rgba(25, 26, 34, 0.7)), url(Images/Background.jpg);
    background-size: 100% auto;
}

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.my-name {
    font-size: 2.2em;
    padding-left: 1em;
}

nav {
    display: flex;
    font-size: 1.1em;
    padding: 1em;
    margin: 0.5em
}

.nav-btn {
    background-color: #AAAAAA00;
    border: none;
    text-decoration: underline;
    text-decoration-color: #EEEEEE;
    font-size: 1.1em;
    padding: 0 1em 0 1em
}

.title-area {
    flex-grow: 1;
}

.home-page-heading {
    position: absolute;
    width: 100%;
    text-align: center;
    font-size: 15vh;
    top: 30%;
    margin:0;
}

.background-credits {
    position: absolute;
    bottom: 0;
    right: 2em;
}








/* Footer */

footer {
    position: relative;
    display: flex;
    width: 100%;
    font-size: 1.5em;
    align-items: center;
}

footer table tbody {
    align-items: center;
    padding: 0.1em;
}

footer table i {
    text-align: center;
    font-size: 0.9em;
}

.contact-text {
    display: block;
    height: 100%;
    padding: 5px;
    font-size: 0.5em;
}

.footer-image {
    position: absolute;
    right: 1em;
    height: 80%;
    max-height: 100px;
}


